.home-page {
  overflow: hidden;
}

.banner {
  background: var(--main-color);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  padding: 11% 7.5% 0%;
  position: relative;
  text-align: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .info {
    width: 49%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    @media (max-width: 1450px) {
      width: 52%;
    }
    @media (max-width: 1250px) {
      width: 57.5%;
    }
  }
  h1 {
    font-size: max(25px, 2.35vw);
    text-transform: uppercase;
    line-height: 1.5;
    position: relative;
    text-align: left;
    color: #fff;
  }
  p {
    font-size: max(15px, 0.95vw);
    line-height: 1.7;
    text-align: left;
    color: #ececec;
    margin: max(17.5px, 1.5vw) 0;
  }
  .links {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    width: 50%;
    margin-left: -20px;
  }

  .inner-banner-photo {
    content: url("../../../../assets/Home/banner1.png");
    width: 50%;
  }
}
@media (max-width: 1400px) {
  .inner-banner-photo {
    padding-top: 40px;
  }
}
@media (max-width: 1100px) {
  .home-page .banner {
    padding: 135px 5% 100px;
    margin-bottom: 35px;
    background-attachment: unset !important;
    .info {
      width: 100%;
    }
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
    .inner-banner-photo {
      width: 100%;
      min-width: auto;
      height: auto;
    }
    .links {
      align-items: center;
      justify-content: space-around;
      margin-left: 0px;
      width: 60%;
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
