.shared-explore-services{
    margin:max(50px, 5%) 0;
    padding:0 7.5%;
    h1{
        text-transform: uppercase;
        font-size: max(22.5px, 2vw);
        text-align: center;
        margin-bottom: max(30px, 2.5vw)
    }
    .tabs{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @media(max-width:1250px){
        padding:0 3.5%;
    }
}
.shared-explore-services .react-tabs__tab-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27.5%;
    padding: max(15px, 1.5vw);
    border-radius: max(10px, 0.9vw);
    box-shadow: rgba(50, 50, 93, 0.1) 0px 10px 20px -5px, rgba(0, 0, 0, 0.15) 0px 7px 12px -8px;
    border:1px solid #f8f8f8;
    .list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin-bottom: max(15px, 1.5vw);
    }
    .react-tabs__tab{
        display: flex;
        align-items: center;
        margin:max(4px, 0.25vw) 0;
        cursor: pointer;
    }
    .react-tabs__tab--selected{
        .icon-container{ 
            background: var(--main-color); 
        }
        .icon{
            filter: brightness(0) invert(1);
            -webkit-filter: brightness(0) invert(1);
        }
    }
    .icon-container{
        width: max(35px, 3vw);
        height: max(35px, 3vw);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: max(10px, .95vw);
    }
    .icon{
        width: 55%;
        max-height: 55%;
    }
    span{
        font-size: max(14px, 0.875vw);
    }
    .link{
        padding-left: max(0.675vw, 8px);
    }
    .link a{
        display: flex;
        align-items: center;
        font-size: max(13.5px, 0.85vw);
        font-weight: 600;
        color: var(--main-color);
        &:hover svg{
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
        svg{
            font-size: max(17.5px, 1.1vw);
            margin-left: max(5px, 0.4vw);
            transition: 0.3s ease-in-out;
            -webkit-transition: 0.3s ease-in-out;
        }
    }
}
.shared-explore-services .tab-panel{
    width: 72.5%;
    margin-top: max(12px, 1vw);
    .title{
        color:#fff;
        background: var(--light-color);
        padding:max(12.5px, 0.9vw) max(25px, 3vw);
    }
    h6{
        font-weight: 500;
        font-size: max(20px, 1.7vw);
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: max(25px, 3vw);
        align-items: center;
    }
    .left{
        width: 40%;
        padding:max(15px, 1.5vw) 0;
        @media(max-width:1350px){
            width: 45%;
        }
    }
    p{
        font-size: max(13.5px, 0.9vw);
        color:#373737;
        line-height: 2;
        margin-bottom: max(20px, 2vw);
    }
    .left a{
        border:1px solid var(--main-color);
        color: var(--main-color);
        font-size: max(14px, 0.875vw);
        padding:max(9px, 0.7vw) max(18px, 1.5vw);
        border-radius: max(20px, 2vw);
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
    }
    .item{
        width: 47.5%;
        background: #fafafa;
        margin: max(6px, 0.45vw) 0;
        padding: max(7.5px, 0.75vw) max(10px, 1vw);
        &:hover .circle{
            border-radius: 7.5%;
            background: var(--main-color);
            opacity: 0.2;
        }
    }
    .icon-blue, .icon-red, .icon-green{
        display: none;
    }
    .icon-container{
        position: relative;
        padding-top: max(5px, 0.4vw);
        width: fit-content;
        margin-bottom: max(9px, 0.75vw);
    }
    .circle{
        position: absolute;
        top: min(-1px, -0.1vw);
        right: min(7.5px, -0.6vw);
        border-radius: 50%;
        width: max(30px, 2.25vw);
        height: max(30px, 2.25vw);
        background: #EDE2FC;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
    }
    .icon{
        position: relative;
        z-index: 2;
        height: max(27.5px, 2.25vw);
    }
    span{
        font-size: max(13px, 0.8vw);
    }
}
@media(max-width:1020px){
    .shared-explore-services h1{
        padding:0 3%;
    }
    .shared-explore-services .react-tabs__tab-list{
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        .list{
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .react-tabs__tab{
            display: flex;
            align-items: center;
            width: fit-content;
            margin:10px;
            padding-right: 10px;
            border-radius: 5px;
        }
        .react-tabs__tab--selected{
            background: var(--main-color); 
            color:#fff;
        }
        .icon-container{
            margin:0 2px;
        }
        .link{
            padding:0 !important;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
    .shared-explore-services .tab-panel{
        width: 100%;
        .row{ padding:0 10px !important; }
        .left{
            width: 100%;
            margin-bottom: 10px;
        }
        .left a{
            border:1px solid var(--main-color);
            color: var(--main-color);
            font-size: max(14px, 0.875vw);
            padding:max(9px, 0.7vw) max(18px, 1.5vw);
            border-radius: max(20px, 2vw);
        }
        .items{
            width: 100%;
        }
        .item{
            width: 48.5%;
        }
    }
}

body.dark-mode .shared-explore-services{
    .react-tabs__tab-list{
        background: rgba(var( --main-color-rgb), 0.1);
        border:1px solid transparent;
        .link a{ color: var(--light-color); }
    }
    .tab-panel{
        p{ color:#fff; }
        .left a{
            color: var(--light-color);
            border:1px solid var(--light-color);
        }
        .item{
            background: rgba(var( --main-color-rgb), 0.1); 
        }
        .circle{ opacity: 0.1; }
    }
}
body.theme-green .shared-explore-services .tab-panel{
    .icon-green{ display: block; }
    .icon-pink{ display: none; }
}
body.theme-red .shared-explore-services .tab-panel{
    .icon-red{ display: block; }
    .icon-pink{ display: none; }
}
body.theme-blue .shared-explore-services .tab-panel{
    .icon-blue{ display: block; }
    .icon-pink{ display: none; }
}