.home-page .dedication-component{
    margin:max(5%, 50px) 0;
    padding:0 7.5%;
    h5{
        font-size: max(15px, 1vw);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--light-color);
        text-align: center;
        font-weight: 500;
    }
    .line1{
        background: var(--light-color);
        height: 2px;
        width: max(40px, 3.5vw);
        margin:max(7.5px, 0.6vw) auto max(15px, 1.25vw);
    }
    h1{
        font-size: max(22.5px, 2vw);
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5;
    }
    .p{
        line-height: 1.5;
        font-size: max(15px, 1vw);
        color:#535353;
        text-align: center;
        margin:max(8px, 0.6vw) 0;
    }
    .inner-row{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: max(25px, 3vw);
    }
    .left{
        width: 35%;
        padding:max(25px, 2.5vw) 0;
    }
    .items{
        width: 45%;
        position: relative;
    }
    h2{
        font-size: max(20px, 2vw);
        margin-bottom: max(10px, 1vw);
    }
    .left p{
        font-size: max(14px, 0.95vw);
    }
    .item{
        position: absolute;
        color:#fff;
        width: fit-content;
        padding:0 0 max(5px, 0.5vw) max(5px, 0.5vw);
        &:hover .bg{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
            width: calc(100% - max(5px, 0.5vw));
            height: calc(100% - max(5px, 0.5vw));
            left: max(5px, 0.5vw);
        }
    }
    .inner-item{
        background: var(--light-color);
        position: relative;
        z-index: 2;
    }
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background: var(--darker-color);
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        clip-path: polygon(max(5px, 0.5vw) 0, 100% 0, 100% calc(100% - max(5px, 0.5vw)), calc(100% - max(5px, 0.5vw)) 100%, 0 100%, 0  max(5px, 0.5vw));
    }
    .cls1 .inner-item{
        font-size: max(20px, 2vw);
        padding:max(14px, 1.3vw) max(10px, 1vw);
    }
    .cls2 .inner-item{
        font-size: max(17px, 1.5vw);
        padding:max(13px, 1.2vw) max(10px, 1vw);
    }
    .cls3 .inner-item{
        font-size: max(18px, 1.6vw);
        padding:max(12px, 0.9vw) max(10px, 1vw);
    }
    .cls4 .inner-item{
        font-size: max(16px, 1.4vw);
        padding:max(10px, 0.75vw) max(10px, 1vw);
    }
    .cls5 .inner-item{
        font-size: max(15px, 1.2vw);
        padding:max(8.5px, 0.6vw) max(10px, 1vw);
    }
    .cls6 .inner-item{
        font-size: max(15px, 1.3vw);
        padding:max(10px, 0.9vw) max(10px, 1vw);
    }
    .cls7 .inner-item{
        font-size: max(13px, 1vw);
        padding:max(8px, 0.55vw) max(10px, 1vw);
    }
    .cls1{
        top:0;
        left:0;
    }
    .cls2{
        top:5%;
        right:7.5%;
    }
    .cls3{
        top:32.5%;
        left: 22.5%;
    }
    .cls4{
        top: 40%;
        right:0;
    }
    .cls5{
        top:57.5%;
        left:47.5%;
    }
    .cls6{
        top:65%;
        left:5%;
    }
    .cls7{
        top:86%;
        left:35%;
    }
}
@media(max-width:1020px){
    .home-page .dedication-component{
        padding:0 5%;
        .left{ width: 40%; }
        .items{ width: 51%; }
    }
}
@media(max-width:800px){
    .home-page .dedication-component{
        .left{
            width: 100%;
            text-align: center;
            margin:-15px 0 10px;
        }
        .items{
            width: 100%;
            text-align: center;
        }
        .items{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .item{
            position: relative !important;
            margin:10px;
            left: unset !important;
            right: unset !important;
            top: unset !important;
            bottom: unset !important;
        }
        .inner-item{
            font-size: 15px !important;
            padding:10px !important;
        }
    }
}
body.dark-mode .home-page .dedication-component .p{
    color:#ddd;
}