.home-page .partnership-items{
    margin:max(50px, 5%) 0 0;
    padding: 0 9%;
    h5{
        color: var(--light-color);
        text-align: center;
        font-size: max(15px, 0.9vw);
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
    }
    .line{
        background: var(--light-color);
        height: 2px;
        width: max(40px, 3.5vw);
        margin:max(7.5px, 0.6vw) auto max(17.5px, 1.75vw);
    }
    h1{
        font-size: max(22.5px, 2vw);
        text-align: center;
        margin-bottom: max(40px, 4vw);
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: max(55px, 6vw);
    }
    .row2{
        flex-direction: row-reverse;
    }
    .info{
        width: 37.5%;
    }
    .img-container{
        width: 41%;
        background: #E2D6F5;
        padding:max(10px, 1vw);
        overflow: hidden;
        transition: 0.35s ease-in-out;
        -webkit-transition: 0.35s ease-in-out;
        clip-path: polygon(11% 0, 100% 1%, 100% 85%, 89% 100%, 0 100%, 0 15%);
        &:hover{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
            .img{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
            }
            .bg{ display: block; }
        }
    }
    .img{
        width: 100%;
        clip-path: polygon(11% 0, 100% 1%, 100% 85%, 89% 100%, 0 100%, 0 15%);
        transition: 0.35s ease-in-out;
        -webkit-transition: 0.35s ease-in-out;
    }
    .bg{
        display: none;
        border-radius: 15px;
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;        
        animation: borderAnimation 1s infinite linear;
        -webkit-animation: borderAnimation 1s infinite linear;
        background: rgba(0, 0, 0, 0);
        background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0) calc(50% - 150px / 2),
        #ffffff 50%,
        rgba(0, 0, 0, 0) calc(50% + 150px / 2));
    }
    .logo{
        height: max(20px, 1.85vw);
    }
    .logo2{
        display: none;
    }
    h2{
        font-size: max(22.5px, 2vw);
        font-weight: 500;
        margin:max(15px, 1.25vw) 0 max(10px, 1vw);
    }
    p{
        color:#363636;
        font-size: max(14px, 0.9vw);
        line-height: 1.7;
        margin-bottom: max(22.5px, 1.75vw);
    }
    a{
        border:1px solid var(--main-color);
        color: var(--main-color);
        font-size: max(14px, 0.9vw);
        padding:max(10px, 0.6vw) max(20px, 1.75vw);
        border-radius: max(20px, 1.75vw);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        overflow: hidden;
        &:before {
            border-radius: max(20px, 1.75vw);
            content: "";
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            background: var(--main-color);
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:hover, &:focus, &:active {
            color: white;
        }
        &:hover:before, &:focus:before, &:active:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}
@media(max-width:1200px){
    .home-page .partnership-items{
        padding: 0 5%;
        .info{ width: 42.5%; }
        .img-container{ width: 47.5%; }
    }
}
@media(max-width:767px){
    .home-page .partnership-items{
        .row{ margin-bottom: 35px; }
        .info{
            width: 100%;
            text-align: center;
            margin:20px auto;
        }
        .img-container{
            width: 400px;
            max-width: 100%;
            margin:20px auto;
        }
        .logo{  margin:0 auto; }
    }
}
body.dark-mode .home-page .partnership-items{
    p{ color: #ECECEC}
    .logo1{ display: none; }
    .logo2{ display: block; }
}
body.theme-green .home-page .partnership-items .img-container{
    background: #CEE5DC;
}
body.theme-red .home-page .partnership-items .img-container{
    background: #F8E1E7;
}
body.theme-blue .home-page .partnership-items .img-container{
    background: #DDE0FB;
}

@keyframes borderAnimation {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
}
@-webkit-keyframes borderAnimation {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
}