.visualkos-academy-component{
    margin:max(50px, 5%) 0;
    padding:0 2%;
    position: relative;
    z-index: 2;
    @media(max-width:1350px){
        padding:0 1.5%;
    }
    .logo{
        content: url('../../../../assets/Home/academy1.svg');
        height: max(42.5px, 3.5vw);
        margin:0 auto;
    }
    h1{
        text-align: center;
        font-size: max(25px, 2.2vw);
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1.5;
        width: 90%;
        margin:max(15px, 1.25vw) auto max(10px, 1vw);
    }
    p{
        font-size: max(15px, 0.95vw);
        width: 45%;
        text-align: center;
        line-height: 1.7;
        color: #757575;
        margin:0 auto max(20px, 2.5vw);
        @media(max-width:1250px){
            width: 55%;
        }
        @media(max-width:1000px){
            width: 100%;
            padding:0 3.5%;
        }
    }
    .link-container{
        display: flex;
        justify-content: center;
        margin-top: max(20px, 2.5vw);
    }
    .rec-pagination{
        display: none;
    }
    .cls1{background: #AFCDCC;}
    .cls2{background: #ECBABD;}
    .cls3{background: #B3B2E1;}
    .cls4{background: #ECDCB8;}
    .cls5{background: #B0DDB0;}
}

.visualkos-academy-component  .slider-item{
    width: 90%;
    padding:max(6px, 0.5vw);
    display: flex;
    flex-direction: column;
    position: relative;
    clip-path: polygon(0 0, 92.5% 0, 100% 7.5%, 100% 100%, 7.5% 100%, 0 92.5%);
    @media(max-width:550px){
        width: 97.5%;
    }
    &:hover .img{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    &:hover .bg{ display: block; }
    .inner-item{
        clip-path: polygon(0 0, 92.5% 0, 100% 7.5%, 100% 100%, 7.5% 100%, 0 92.5%);
        flex: 1;
        width: 100%;
        position: relative;
        background: #fff;
        padding:max(30px, 3vw) max(20px, 2vw);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    .bg{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, var(--light-color), var(--darker-color), var(--main-color), var(--other-color));
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
        -webkit-animation: gradient 3s ease infinite;
        display: none;
    }
    .img{
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .top{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0,0,0,0.5);
    }
    .info{
        position: relative;
        z-index: 3;
        text-align: center;
    }
    .icon{
        margin:0 auto max(20px, 1.8vw);
        height: max(25px, 3vw);
    }
    .inner-item a{
        color:#fff;
    }
    h6{
        font-size: max(15px, 1.1vw);
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.5;
    }
    .circle{
        width: max(33px, 2.5vw);
        height: max(33px, 2.5vw);
        border:1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: max(10px, 0.9vw) auto 0;
        svg{
            font-size: max(15px, 1.15vw);
        }
    }
}
body.theme-green .visualkos-academy-component .logo{
    content: url('../../../../assets/Home/academy2.svg');
}
body.theme-red .visualkos-academy-component .logo{
    content: url('../../../../assets/Home/academy3.svg');
}
body.theme-blue .visualkos-academy-component .logo{
    content: url('../../../../assets/Home/academy4.svg');
}
body.dark-mode {
    .visualkos-academy-component p{ color:#ECECEC; }
    .logo{ content: url('../../../../assets/Home/academy1-light.svg'); }
    &.theme-green .visualkos-academy-component .logo{
        content: url('../../../../assets/Home/academy2-light.svg');
    }
    &.theme-red .visualkos-academy-component .logo{
        content: url('../../../../assets/Home/academy3-light.svg');
    }
    &.theme-blue .visualkos-academy-component .logo{
        content: url('../../../../assets/Home/academy4-light.svg');
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}