.shop{
    margin:5% 0;
    padding:0 7.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    .main-link{
        width: 100%;
        display: flex;
        margin:max(20px, 2vw) 0;
        text-transform: uppercase;
    }
    .col{
        width: 22.5%;
        position: relative;
        margin:max(15px, 1.5vw) 0;
    }
    h1{
        font-size: max(25px, 1.75vw);
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: max(10px, 0.75vw);
        font-weight: 600;
    }
    .col1{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .p{
        font-size: max(15px, 0.95vw);
        color:#757575;
    }
    .features{
        font-size: 17.5px;
        color: var(--shadow);
        letter-spacing: 2px;
        transform: rotate(-90deg) translateY(-50%);
        -webkit-transform: rotate(-90deg) translateY(-50%);
        width: fit-content;
        top:50%;
        position: absolute;
        left:-60px;
    }
    .col2{
        padding:max(5px, 0.4vw);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        clip-path: polygon(92.5% 0, 100% 7.5%, 100% 100%, 7.5% 100%, 0 92.5%, 0 0);
        transition: 0.35s ease-in-out;
        -webkit-transition: 0.35s ease-in-out;
        &:hover{ 
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0);
            .icon{
                -webkit-animation:hvr-icon-up 0.75s ease-out;
                animation: hvr-icon-up 0.75s ease-out;
            }
            .inner-col{ 
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0); 
            }
            .dash1,  .dash3{
                width: 100%;
            }
            .dash2, .dash4{
                height: 100%;
            }
        }
    }
    .cls1{
        // background: #dfa4a8;
        background:#9EA572;
    }
    .cls2{
       // background: #918fc5;
       background:#D2AD96;
    }
    .cls3{
        //background: #e4d1a4;
        background:#544937;
    }
    .inner-col{
        background: #fff;
        flex: 1;
        padding:max(20px, 2vw);
        clip-path: polygon(92.5% 0, 100% 7.5%, 100% 100%, 7.5% 100%, 0 92.5%, 0 0);
        text-align: center;
        position: relative;
        transition: 0.35s ease-in-out;
        -webkit-transition: 0.35s ease-in-out;
        p{
            font-size: max(20px,1.6vw);
            line-height: 1.7;
            color:#757575;
        }
    }
    .icon{
        height: 200px;
        margin:0 auto;
    }
    h6{
        margin:max(15px, 1.1vw) 0;
        font-size: max(16px, 1.1vw);
        font-weight: normal;
        text-transform: uppercase;
        color:#474747;
    }
 
    .dash{
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }
    .dash1{
        width: 0;
        left:0;
        top:0;
        height: max(5px, 0.4vw);
    }
    .dash3{
        width: 0;
        right:0;
        bottom:0;
        height: max(5px, 0.4vw);
    }
    .dash2{
        width: max(5px, 0.4vw);
        top:0;
        right:0;
        height: 0;
    }
    .dash4{
        width: max(5px, 0.4vw);
        bottom:0;
        left:0;
        height: 0;
    }
}


@media(max-width:1475px){
    .shop{
        padding:0 5%;
        .col{
            width: 23.5%;
        }
        .features{
            font-size: 15px;
            left:-60px;
        }
    }
}
@media(max-width:1125px){
    .shop{
        padding:0 7.5%;
        .col{
            width: 47.5%;
        }
    }
}
@media(max-width:575px){
    .shop{
        padding:0 5%;
        .col{
            width: 100%;
        }
        .col2, .inner-col{
            clip-path: polygon(92.5% 0, 100% 10%, 100% 100%, 7.5% 100%, 0 90%, 0 0);
        }
        .col1{
            padding-left: 32.5px;
            width: 325px;
            max-width: 100%;
            margin:15px auto;
        }
        .features{
            left:-40px;
            top:50px;
            transform: rotate(-90deg) translateY(0);
            -webkit-transform: rotate(-90deg) translateY(0);
        }
    }
}


//more--------------------------------------
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }